body {
  .services_container {
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-flow: column;
    grid-template-columns: 45% 55%;
    border-bottom: 1px solid #242424;

    .img {
      padding: 40px;
      transition: 0.1s ease-in-out;

      img{
        width: 100%;
      }
      &:hover {
        filter: grayscale(100%) brightness(70%) sepia(70%) hue-rotate(163deg)
          saturate(600%) contrast(0.8);
      }
    }
    .information {
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        font-size: 25px;
        color: #24272a;
      }
      p {
        max-width: 80%;
        font-size: 18px;
        color: #24272a;
        opacity: 0.5;
      }
      .more {
        display: flex;
        justify-content: space-between;

        a {
          color: #00a0df;
          font-size: 18px;
          cursor: pointer;
          font-style: italic;
        }
      }
    }
  }
}
