body {
  .container {
    .content {
      padding: 60px 40px;
      gap: 80px;
      display: grid;
      grid-template-columns: calc(50% - (80px / 2)) calc(50% - (80px) / 2);
      border-bottom: 1px solid #24272a;

      &:last-child {
        border: none;
      }
      .left {
        h3 {
          color: #00a0df;
          font-size: 25px;
          text-transform: uppercase;
        }
        p {
          margin-top: 60px;
          font-size: 18px;
          color: #24272a;
          opacity: 0.5;
        }
      }
      .right {
        img {
          filter: grayscale(1);
          max-width: 100%;
          transition: 0.1s ease-in-out;

          &:hover {
            filter: grayscale(100%) brightness(70%) sepia(70%) hue-rotate(163deg)
            saturate(600%) contrast(0.8);
          }
        }
      }
    }
  }
}
