body {
  header {
    .logo {
      border-bottom: 1px solid #24272a;
      padding: 37px 40px;

      h1 {
        a {
          svg {
            height: 72px;
          }
        }
      }
    }
    nav {
      border-bottom: 1px solid #24272a;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 40px;

      .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      ul {
        display: flex;
        gap: 50px;

        li {
          a {
            font-size: 20px;
            color: #24272a;
            transition: 0.2s ease-in-out;

            &:hover {
              color: #00a0df;
            }
          }
          .active {
            color: #00a0df;
          }
        }
      }
      .search {
        display: flex;

        form {
          border-left: 1px solid #24272a;
          opacity: 0;
          visibility: hidden;

          input {
            height: 100%;
            padding-left: 70px;
            border: none;
            outline: none;
            background-color: transparent;
            font-size: 20px;
            font-style: italic;
            transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transform: translate3d(0, -100%, 0);
          }
        }
        .active{
          opacity: 1;
          visibility: visible;

          input{
            transform: none;
          }
        }
        button {
          padding: 45px 46px;
          height: max-content;
          background-color: #00a0df;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          border-left: 1px solid #24272a;
          cursor: pointer;
          outline: none;
        }

        svg {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}
