@media only screen and (min-width: 993px) {
  .main_container {
    width: 90%;
  }
}
@media only screen and (min-width: 1280px) {
  .main_container {
    width: 90%;
  }
}
@media only screen and (min-width: 1360px) {
  .main_container {
    width: 1300px;
  }
}

@media only screen and (min-width: 1560px) {
  .main_container {
    width: 1530px;
  }
}
